<div class="navbar bg-base-100">
  <a href="{{ site.baseurl }}/" class="flex items-center ml-5">
    <img src="./assets/img/brand/logo.png" class="h-16" alt="Flowbite Logo" />
  </a>

  <div class="md:flex space-x-10 mr-20">
    <a href="{{ site.baseurl }}/app" class="btn btn-ghost ml-16">APP</a>
    <a href="{{ site.baseurl }}/game" class="btn btn-ghost">GAME</a>
  </div>


  <div class="navbar-end md:ml-auto md:mr-10">
    <a href="{{ site.baseurl }}/about" class="btn btn-ghost">ABOUT</a>
  </div>
</div>