@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SFPro-Round-Black';
  src: url('../fonts/SF-Pro-Rounded-Black.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Bold';
  src: url('../fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Heavy';
  src: url('../fonts/SF-Pro-Rounded-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Light';
  src: url('../fonts/SF-Pro-Rounded-Light.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Medium';
  src: url('../fonts/SF-Pro-Rounded-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Regular';
  src: url('../fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Semibold';
  src: url('../fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Thin';
  src: url('../fonts/SF-Pro-Rounded-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Round-Ultralight';
  src: url('../fonts/SF-Pro-Rounded-Ultralight.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Black';
  src: url('../assets/fonts/SF-Pro-Display-Black.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-BlackItalic';
  src: url('../fonts/SF-Pro-Display-BlackItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Bold';
  src: url('../fonts/SF-Pro-Display-Black.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-BoldItalic';
  src: url('../fonts/SF-Pro-Display-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Heavy';
  src: url('../fonts/SF-Pro-Display-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-HeavyItalic';
  src: url('../fonts/SF-Pro-Display-HeavyItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Light';
  src: url('../fonts/SF-Pro-Display-Light.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-LightItalic';
  src: url('../fonts/SF-Pro-Display-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Medium';
  src: url('../fonts/SF-Pro-Display-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-MediumItalic';
  src: url('../fonts/SF-Pro-Display-MediumItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Regular';
  src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-RegularItalic';
  src: url('../fonts/SF-Pro-Display-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Semibold';
  src: url('../fonts/SF-Pro-Display-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-SemiboldItalic';
  src: url('../fonts/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Thin';
  src: url('../fonts/SF-Pro-Display-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-ThinItalic';
  src: url('../fonts/SF-Pro-Display-ThinItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-Ultralight';
  src: url('../fonts/SF-Pro-Display-Ultralight.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Display-UltralightItalic';
  src: url('../fonts/SF-Pro-Display-UltralightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Black';
  src: url('../fonts/SF-Pro-Text-Black.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-BlackItalic';
  src: url('../fonts/SF-Pro-Text-BlackItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Bold';
  src: url('../fonts/SF-Pro-Text-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-BoldItalic';
  src: url('../fonts/SF-Pro-Text-BoldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Heavy';
  src: url('../fonts/SF-Pro-Text-Heavy.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-HeavyItalic';
  src: url('../fonts/SF-Pro-Text-HeavyItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Light';
  src: url('../fonts/SF-Pro-Text-Light.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-LightItalic';
  src: url('../fonts/SF-Pro-Text-LightItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Medium';
  src: url('../fonts/SF-Pro-Text-Medium.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-MediumItalic';
  src: url('../fonts/SF-Pro-Text-MediumItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Regular';
  src: url('../fonts/SF-Pro-Text-Regular.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-RegularItalic';
  src: url('../fonts/SF-Pro-Text-RegularItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Semibold';
  src: url('../fonts/SF-Pro-Text-Semibold.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-SemiboldItalic';
  src: url('../fonts/SF-Pro-Text-SemiboldItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Thin';
  src: url('../fonts/SF-Pro-Text-Thin.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-ThinItalic';
  src: url('../fonts/SF-Pro-Text-ThinItalic.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-Ultralight';
  src: url('../fonts/SF-Pro-Text-Ultralight.otf') format('opentype');
}
@font-face {
  font-family: 'SFPro-Text-UltralightItalic';
  src: url('../fonts/SF-Pro-Text-UltralightItalic.otf') format('opentype');
}

.SFPro-Round-Black {
  font-family: 'SFPro-Round-Black', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Bold {
  font-family: 'SFPro-Round-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Heavy {
  font-family: 'SFPro-Round-Heavy', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Light {
  font-family: 'SFPro-Round-Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Medium {
  font-family: 'SFPro-Round-Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Regular {
  font-family: 'SFPro-Round-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Semibold {
  font-family: 'SFPro-Round-Semibold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Thin {
  font-family: 'SFPro-Round-Thin', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Round-Ultralight {
  font-family: 'SFPro-Round-Ultralight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Black {
  font-family: 'SFPro-Display-Black', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-BlackItalic {
  font-family: 'SFPro-Display-BlackItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Bold {
  font-family: 'SFPro-Display-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-BoldItalic {
  font-family: 'SFPro-Display-BoldItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Heavy {
  font-family: 'SFPro-Display-Heavy', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-HeavyItalic {
  font-family: 'SFPro-Display-HeavyItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Light {
  font-family: 'SFPro-Display-Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-LightItalic {
  font-family: 'SFPro-Display-LightItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Medium {
  font-family: 'SFPro-Display-Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-MediumItalic {
  font-family: 'SFPro-Display-MediumItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Regular {
  font-family: 'SFPro-Display-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-RegularItalic {
  font-family: 'SFPro-Display-RegularItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Semibold {
  font-family: 'SFPro-Display-Semibold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-SemiboldItalic {
  font-family: 'SFPro-Display-SemiboldItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Thin {
  font-family: 'SFPro-Display-Thin', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-ThinItalic {
  font-family: 'SFPro-Display-ThinItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-Ultralight {
  font-family: 'SFPro-Display-Ultralight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Display-UltralightItalic {
  font-family: 'SFPro-Display-UltralightItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Black {
  font-family: 'SFPro-Text-Black', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-BlackItalic {
  font-family: 'SFPro-Text-BlackItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Bold {
  font-family: 'SFPro-Text-Bold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-BoldItalic {
  font-family: 'SFPro-Text-BoldItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Heavy {
  font-family: 'SFPro-Text-Heavy', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-HeavyItalic {
  font-family: 'SFPro-Text-HeavyItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Light {
  font-family: 'SFPro-Text-Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-LightItalic {
  font-family: 'SFPro-Text-LightItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Medium {
  font-family: 'SFPro-Text-Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-MediumItalic {
  font-family: 'SFPro-Text-MediumItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Regular {
  font-family: 'SFPro-Text-Regular', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-RegularItalic {
  font-family: 'SFPro-Text-RegularItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Semibold {
  font-family: 'SFPro-Text-Semibold', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-SemiboldItalic {
  font-family: 'SFPro-Text-SemiboldItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Thin {
  font-family: 'SFPro-Text-Thin', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-ThinItalic {
  font-family: 'SFPro-Text-ThinItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-Ultralight {
  font-family: 'SFPro-Text-Ultralight', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.SFPro-Text-UltralightItalic {
  font-family: 'SFPro-Text-UltralightItalic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.text-sm {
  font-size: 20px;
  line-height: 21px;
}

.text-base {
  font-size: 24px;
  line-height: 25px;
}

.text-lg {
  font-size: 28px;
  line-height: 29px;
}

.text-xl {
  font-size: 32px;
  line-height: 33px;
}

.text-2xl {
  font-size: 36px;
  line-height: 38px;
}

.text-3xl {
  font-size: 40px;
  line-height: 42px;
}

.text-4xl {
  font-size: 44px;
  line-height: 50px;
}

.text-5xl {
  font-size: 52px;
  line-height: 62px;
}

.text-6xl {
  font-size: 100px;
  line-height: 120px;
}